.input_wrapper {
  display: flex;
  gap: 22px;
}

input,
select {
  border: none;
  border-bottom: 3px solid var(--button-default);
  color: var(--text-primary);
  font-size: 24px;
  background: none;
  padding: 8px;
  transition: all 0.3s;
  outline: none;
}

select:focus {
  border-bottom: 3px solid var(--button-active);
}

option {
  height: 20px;
  font-size: 24px;
  color: black;
}
