* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}
